@import url('https://fonts.googleapis.com/css?family=Baloo+2&display=swap');

.aside_bar{
    display: flex;
    flex-direction: row;
    margin-top: 70px;
    justify-content: center;
    position: relative;
}

.msg{
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}


.msg span{
    text-align: left;
    color: honeydew;
    background-color: rgb(13, 149, 3);
    margin-left: 0px;
    font-size: 42px;
    font-family: 'Baloo 2', cursive;
}

.msg textbox + textbox{
    margin-left: 20px;
}