body{
    background-color: rgb(110, 140, 223);
}

.title{
    color: white;
    display: flex;
    flex-direction: row;
    font-size: 42px;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.main{
    display: flex;
    flex-direction: row;
    position: relative;
    margin-left: 30px;
}

.msg{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 30px;
}

.players{
    display: flex;
    flex-direction: row;

}

.players group{
    padding-right: 20px;
}

.players container{
    background-color: rgb(255, 255, 255);
    width: 170px;
    height: 200px;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 5px;
    margin-bottom: 10px;
}

textbox{
    margin-right: 10px;
    font-size: 22px;
    font-weight: bold;
    color: white;
    background-color: rgb(16, 38, 138);
}

group{
    margin-bottom: 20px;
}

container{
    background-color: rgb(255, 255, 255);
    width: 270px;
    height: 300px;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 5px;
}

container h1{
    color: rgb(0, 0, 0);
    font-size: 18px;
    text-align: center;
}

container h2{
    color: rgb(0, 0, 0);
    font-size: 14px;
    text-align: center;
}