
.menu{
    width: 100%;
    height: 50px;
    
    background-color: rgb(232, 236, 232);
    border-bottom: 4px solid rgb(3, 116, 3);
    
    position: relative;
    list-style:none;
    
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}
    
    .menu group{
        right: 20px;
        position: absolute;

        display: flex;
        flex-direction: row;
        align-items: center;

        color: white;
    }

    .menu li{
        margin-top: 10px;  
        height: 50%;
        position: relative; 
        float:left; 
        display: grid;
        margin-left: 25px;
        cursor: pointer;
    }

    .menu li + li{
        margin-left: 7px;
    }
    
    .menu li a{color:rgb(37, 190, 17); font-size:16px; border-radius: 10%; transition: background 0.5s; font-family: Roboto, sans-serif; text-decoration:none; padding:5px 10px; display:flex;}
     
    .menu li a:hover{
    background:#1ccc5f; 
    color: #fff; 
    -moz-box-shadow:0 3px 10px 0 #CCC; 
    -webkit-box-shadow:0 3px 10px 0 rgb(13, 149, 3); 
    text-shadow:0px 0px 5px #fff;
    transition: background 0.8s; 
    }
 
    .menu li:hover ul, .menu li.over ul{display:block;}
    
    .menu li ul li{
        border:1px solid #04fd2e; 
        display:block; 
        width:150px;
    }